[user]
name = {{ user }}

[project]
name = {{ project_name }}
type = {{ project_type }}
features = {{ project_features }}

[cpp]
generator = {{ cpp_generator }}
cmake = {{ cpp_cmake }}
build = {{ cpp_build }}
install = {{ cpp_install }}
