[user]
name = {{ user }}

[project]
type = {{ project_type }}
name = {{ project_name }}

[cpp]
generator = {{ cpp_generator }}
cmake = {{ cpp_cmake }}
build = {{ cpp_build }}
install = {{ cpp_install }}
