language: python

python:
  - 2.7
  - 3.3

install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  coverage run --source=crutch setup.py tests
  python tests/test.py

after_success:
  coveralls
