#ifndef {{ project_name }}_HPP_BUXYKXVV
#define {{ project_name }}_HPP_BUXYKXVV

namespace {{ project_name }} {
  
} /* {{ project_name }} */ 

#endif /* end of include guard: {{ project_name }}_HPP_BUXYKXVV */
