file (GLOB ProjectSource ${CMAKE_SOURCE_DIR}/src/{{ project_name }}/*.cpp)
file (GLOB TestSource *.cpp)

add_executable({{ project_name }} ${TestSource} ${ProjectSource})

target_link_libraries({{ project_name }} libgtest libgmock)

add_test(NAME {{ project_name }} COMMAND {{ project_name }})
